<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data Api</title>
</head>
<body>
    <h1>Weather Data Api</h1>
    <p>The format and example url to access the data of a given station at a particular date is given below.</p>
    <p>URL format: http://127.0.0.1:5001/api/v1/station/date</p>
    <p>URL example: http://127.0.0.1:5001/api/v1/10/1988-10-25</p>
    <br>
    <p>The format and example url to access all the data of a given station is given below.</p>
    <p>URL format: http://127.0.0.1:5001/api/v1/station</p>
    <p>URL example: http://127.0.0.1:5001/api/v1/10</p>
    <br>
    <p>The format and example url to access all the data of a given station in a particular year is given below.</p>
    <p>URL format: http://127.0.0.1:5001/api/v1/yearly/station/year</p>
    <p>URL example: http://127.0.0.1:5001/api/v1/yearly/10/1988</p>
    <br>
    <p>{{data}}</p>
    <p>{{table|safe}}</p>
</body>
</html>